button {
  padding: 8px !important;
  border-radius: 6px !important;
  width: 100px;
  height: 55px;
}

.btn-primary {
  width: 90px;
  box-shadow: 0px 1px 0px 0px slategrey;
}
.btn-danger {
  /* height:40px; */
  box-shadow: 0px 1px 0px 0px gray;
}

#form-container {
  box-sizing: border-box;
  border-radius: 20px;
  border-color: lightgray !important;
  width: 49%;
  min-width: 260px;
  height: 600px;
}
#no-res {
  border-radius: 20px;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  #no-res {
    width: 70% !important;
  }
  #form-container {
    width: 95%;
    height: 560px;
  }
}

#no-res {
  width: 21%;
}

select:focus {
  box-shadow: none;
  border: 1.5px solid black !important;
}

nav {
  /* height:50px; */
  /* width:100vw; */
  /* border:1px solid black; */
  margin-top: 0px;
  margin-bottom: 10vh;
}

nav ul {
  flex-direction: row !important;
}

nav ul li {
  border-radius: 15px;
  border-color: black !important;
  border-width: 2px !important;
}

nav ul li a {
  cursor: pointer;
}
